body {
    margin: 50px auto;
    width: 60%;
}

.container {
    backdrop-filter: blur(10px) contrast(85%) brightness(1.1);
    box-shadow: 0 1px 3px rgb(20 20 20 / 0.1);
}

.content{
    width: 90%;
    margin: auto;
    padding: 10px 0px;
}


h2 {
    border-bottom: 1px black solid;
    text-align: center;
    font-family: 隶书;
}

a {
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover {
    border-bottom: 1px;
    color: #ee00ff;
}

.corner-button {
    position: fixed;
    bottom: calc(1vw + 5%);
    right: calc(1vw + 5%);
    max-width: 50px;
    max-height: 50px;
    width: 8vw;
    height: 8vw;
}

#back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background: #fff;
    color: #909ab0;
    box-shadow: 0 1px 3px rgb(20 20 20 / 0.1);
    padding: 0;
    z-index: 2;
}

#back-to-top:hover {
    background: #d9d9d9;
}

#back-to-top:hover:before {
    position: absolute;
    right: 120%;
    padding: 5px;
    background-color: #636363;
    border-radius: 4px;
    color: #fff;
    content: "回到顶部";
    font-size: clamp(1px, calc(2vw), 15px);
}
