#box{text-align:center;
    width:80%;
    margin:0 auto;
    }

#nav{ font: 36px/2em 楷体; 
        background:lightblue;
        }
#bread{border-bottom:1px black dotted;
            padding:3px;
            text-align:left;}
#footer{font-size:small;}
a{text-decoration:none;}
a:hover{text-decoration:underline;
color:red;}
h1{font:36px/2em 黑体;}
h2{width:60%;border-bottom:1px black solid;margin:40px auto 20px;}

.banner{width:850px;height:320px;}
.lastline{ margin-bottom:2em; }
.pics{
    width:350px; height:515px; margin:8px;
    }
.intro{
        font:18px/1.5em 宋体;
        width:60%;
        margin:20px auto;
        text-align:center;
        text-indent: 2em;
        }
.corner-button {
    position: fixed;
    bottom: calc(1vw + 5%);
    right: calc(1vw + 5%);
    max-width: 50px;
    max-height: 50px;
    width: 8vw;
    height: 8vw;
}

#back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background: aliceblue;
    color: #111111;
    box-shadow: 0 1px 3px rgb(20 20 20 / 0.1);
    padding: 0;
    z-index: 2;
}

#back-to-top:hover {
    background: rgb(160, 164, 169);
}

#back-to-top:hover:before {
    position: absolute;
    right: 120%;
    /* top: -20%; */
    padding: 5px;
    background-color: #636363;
    border-radius: 4px;
    color: #fff;
    content: "回到顶部";
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* height: 120%; */
    font-size: clamp(1px, calc(2vw), 15px);
}
#detail{
    color:rgb(105, 50, 21);   
}
#detail:hover{
    text-decoration:none;
    color:#636363
}
#more{
    border-bottom:1px black;
            text-align:center;
}
#photo{
    width:70%;
    height:65%;
}