/*大标题*/
#big_title
{
    text-align:center;
    font: size 25px;
    color:black;
}

/*页面上方导航*/
div.head_nav{
    position:sticky;
    top: 0;
    
}

li.head_nav 
{   
    position:sticky;
    top:10%;
    width:16.667%;
    float:left;
    display: block;
    background-color:whitesmoke;
    border:lightblue;
}

li.head_nav a{
    display:block;
    color:rgb(8, 5, 5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid white;
    position:sticky;
}

li.head_nav a:hover:not(.active){
    background-color: lightcyan;
    color:black;
}

ul.head_nav{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #dddddd;
    border:1px solid grey;
}


/*竖直导航栏*/
.side{
    width: 5%;
    position:fixed;
    left:0%;
    top:22%;
}


ul.y_nav{
    display: block;
    margin: 0;
    padding:0;
    background-color:whitesmoke;
}

li.y_nav a{
    display:block;
    text-align:center;
    width: 160px;
    height:auto;
    background-color:whitesmoke;
    color: black;
    border:1px solid grey;
    text-decoration: none;
    height: 70px;
    line-height: 70px;
}

li.y_nav a:hover:not(.active){
    color:black;
    background-color:lightcyan;
}

/* 关于我们 */
.js-pic {
    position:relative;
    top:25%;
    display: inline-block;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 240px;
    height: 320px;
    object-fit: cover
}

/*页脚导航设计*/
/*注意：为了确保页脚不遮挡网页，将上一个框属性加上一个padding-bottom：100px*/
.bottom{
    width: 100%;
    position:fixed;
    left:0;
    margin-top:120px;
    text-align: center;
    height:40px;
    bottom:0;
    z-index:20 ;
    font-size:8px;   
}

/* 登录 */
.dl {
	width:25%;
	padding: 20px 40px;
	margin-left: 120px;
	margin-top: 120px;
    font-size: 18px;
	background-color:none;
	border-radius: 2px;
    border:none;	
	}
.needinput{
    height: 40px;
    width: 300px;
	padding: 0 15px;
	border: none;
	background: #F8F9F9;
	font-size: 15px;
	box-shadow: 0px 1px 1px gainsboro,inset 0px 2px 5px #aaaaaa;
    color: black;
	border-radius: 5px;
		}
input[type="submit"]{
	width: 110px;
	height: 40px;
	text-align:center;
	border-radius: 5px;
	font:16px "黑体";
	background-color: #C0C6CB;
	}
input[type="button"]{
	width: 110px;
	height: 40px;
	text-align:center;
	border-radius: 5px;
	font:16px "黑体";
	background-color: #C0C6CB;
	}

a {text-decoration: none;} 
a:hover{text-decoration:underline;}

/* 注册 */
fieldset{width:17%;
	padding: 20px 40px;
	margin-left: 120px;
    margin-top: 0;
    font-size: 18px;
	background-color:none;
    border-radius: 2px;
    border:none;	
}

.smtxt{ font-size:14px; text-align:center; }

/* 正文 */
.zhengwen {	margin-left: 220px;
    margin-right: 90px;
    margin-top: 35px;
    border: none;
}

.zhengwen p {
    text-indent: 2em;
}

.xzt-1{
    margin-top: 30px;
    margin-left: 220px;
}
/*背景图片*/
body {
    margin: 0 auto;
    background-image: url(../images/bg.jpg);
    background-size: cover;
}

/* 小组简介 */
.xiaozujianjie {margin-top: 60px;
    text-align: center;
    font:25px "黑体";
    line-height: 50px;
}