/* CSS Document */

#main h2{
	background:#DC0;
	font:18px 黑体;
	margin:40px 0px;
	padding:8px 40px;
}
#box{
	position:relative;
	top:0px;
	left:0px;
	padding:1px;/*此项必须设置，否则h1的margin会影响#box的margin*/
}
#sidebar{
	position:absolute;
	top:0px;
	left:700px;
	background:#D6EA82;
	width:300px;
	height:744px;
}
#maintxt{
	width:700px;
	height:700px;
}
#maintxt ul{
	margin:30px 0px;
	list-style:none;
}
#maintxt ul li{
	margin-bottom:20px;
}

#maintxt p,#maintxt ol li{
	font:16px/1.8em 宋体;
	margin-left:40px;
}

#maintxt ol{
	margin:40px 20px;
}
#sidebar p{
	margin:0px 20px 20px 40px;
	line-height:1.2em;
}